*
{
    margin: 0px; /* property-name: property-value; */
    padding: 0px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b0202;
    padding: 10px 30px; 

    position: sticky; 
    top: 0; 
}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color: #e5f327;
    flex: 1; 
    font: 50px "Times New Roman";
    font-weight: 800;
}

.socials{
    padding-left:30px; 
    display: flex; 
    gap: 30px; 
}

.socials img{
    width: 30px; 
    height: 30px; 
}

.nav-bar{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-bar a{
    color:#ffffff;
}

.nav-bar .current{
    color:#ffe015;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.content{
    width: 100%;
    padding-left: 30px; 
    padding-bottom: 57px;
    background-image: url(images/icon.png); 
    background-repeat: no-repeat; 
    background-size: 150px; 
    background-position: center; 
    
}

.home-image{
    border-style: solid; 
    border-width: 2px; 
    border-radius: 2px; 
    border-color: red; 
    width: 200px;
    height: auto;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #6879d0;
    background-color:  #a3d5ff;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 5px;
    font-size:10px;
}